{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}


                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}"
                               name="email"
                               id="inputEmail" class="form-control" required
                               autofocus>
                        <label for="inputPassword">Hasło</label>
                        <input type="password" name="password"
                               id="inputPassword"
                               class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div style="margin-top: 3%;" class="modal-footer">
                            <button class="btn btn-lg btn-primary"
                                    type="submit">
                                Zaloguj
                            </button>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
{% endblock %}
    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                jQuery.noConflict();
                $("#myModal").modal('show');
            });
        </script>
    {% endblock %}
