
{% block body %}

    <div style="margin-top: 3%; margin-left: 3%; margin-right: 3%; margin-bottom: 3% ">
            <select class="custom-select" id="roomsSelect" aria-label=".form-select-lg example">
                <option value="all" selected>Wszystkie sale</option>
                {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TRAINER') %}
        <div class="btn-lg btn-block">
            <button type="button" class="btn btn-primary btn-lg btn-block"
                    data-toggle="modal" data-target="#exampleModal">
                Stwórz wydarzenie
            </button>
        </div>
        {% endif %}
        <div id="calendar-holder"></div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.getElementById('roomsSelect').addEventListener('change', function() {
            var roomId = this.value;
            console.log('You selected: ', this.value);
        });
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var roomId = document.getElementById('roomsSelect').value;
            //var roomId = document.getElementById('roomsSelect').value;
            console.log(roomId);
            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'timeGridWeek',
                editable: false,
                height: 750,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({roomId})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },

                ],
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
{% endblock %}