{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block body %}


    <style>

        body, html {
            height: 100%;
        }
        html,
        body,
        header,
        .view {
            height: 100%;
        }
    </style>
    <div class="view" style="background-image: url('../images/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->




    </div> 
{% endblock %}
