<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body" id="body">

                    {#{{ include('classes/_edit_form.html.twig', {'button_label': 'Update'}) }}#}
                    {#{{ form(edit_form) }}#}
                </div>
            </div>

        </div>
    </div>
</div>
</div>